*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none
}
li{
	display: inline-block;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
nav{
	width: 100%;
	height: 40px;
	background-color: #051c2f;
}
#home{
	display: inline-block;
	font-size: 14px;
	color: #ff4747;
	line-height: 40px;
	margin-left: 20px;	
}
nav ul{
	float: right;
	height: 100%;
	margin-right: 40px;
}
nav ul li{
	/* float: right; */
	list-style: none;
	height: 40px;
	width: 80px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	color: #fff;
}
nav ul li:hover{
	background-color: #fff;
	color: #000;
}
nav ul li a{
	display: inline-block;
	color: inherit;
}
#box{
	position:absolute;
	top: 40px;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	/* background-color: pink; */
	box-sizing: border-box;
}
.title{
	width: 100%;
	height: 24px;
	background-color: pink;
}
.title div{
	width: 200px;
	height: 24px;
	line-height: 24px;
	background-color: lightgreen;
	text-align: center;
	color: #fff;
}
#item-box{
	width: 100%;
	height: auto;
	background-color: lightslategray;
}

.enter-box{
    width:100%;
    margin:10px 0;
    /*vertical-align: middle;*/
    display:block;
    overflow: hidden;
    zoom:1;
    clear:both;
    /*margin:0 auto;*/
}
.item-box label{
    display:inline-block;
    width:120px;
    font-size:14px;
    /*text-align:right;*/
    margin-right:10px;
}
.enter{
    height:30px;
    width:33%;
}
.item-box input{
    border-radius:4px;
    border:1px solid #d0d0d0;
    display:inline-block;
    width: 240px;
}
.item-box input::-webkit-input-placeholder { /* WebKit browsers */ 
	font-size: 12px;
	color: #999; 
	text-indent: 12px;
} 
.front{
    margin-right:10px;
}
#nextpage-format{
	margin-top: 20px;
}
#nextpage-format input{
	margin-left: 25px;
}
#start{
	padding:6px ;
	display: inline-block;
	background-color: skyblue;
	border-radius: 2px;
	height: 16px;
	width: 40px;
	line-height: 16px;
	text-align: center;
	color: #fff;
	margin: 20px auto;
	cursor: pointer;
	position: absolute;
	bottom: 40px;
	left: 50%;
	margin-left: -20px;
}
#start:hover{
	background-color: blue;
}