<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/details.css' />
  </head>
  <body>
  	<nav>
  		<a id="home" href="http://localhost:3000/index">CRAWL MANAGEMENT DASHBOARD</a>
      <ul>
        <li><a href="http://localhost:3000/">NEWS<a></li>
        <li><a href="http://localhost:3000/comment">COMMENT</a></li>
        <li><a href="http://localhost:3000/forum">FORUM</a></li>
      </ul>
  	</nav>
  	<div id="box">
      <div id="content">
        <%= data[0].comments %>
      </div>
    </div>
  	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  	<script src="/javascripts/index.js"></script>
  </body>
</html>
