<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href='/nav_font/iconfont.css' />
  </head>
  <body>
  	<nav>
      <a id="home" href="http://localhost:3000/index"><i class="iconfont icon-pachong"></i>爬虫管理系统</a>
      <a  id="create">爬虫创建</a>
      <ul id="menu">
        <li><a href="http://localhost:3000"><i class="iconfont icon-NEWS-copy"></i>新闻爬虫</a></li>
        <li><a href="http://localhost:3000/comment"><i class="iconfont icon-comment"></i>评论爬虫</a></li>
        <li><a href="http://localhost:3000/forum"><i class="iconfont icon-luntan"></i>论坛爬虫</a></li>
      </ul>
    </nav>
  	
  	<div class="box">
      <div id="bar-mean">
        <div><div class="mean-div hour-color"></div><span>1小时内</span></div>
        <div><div  class="mean-div day-color"></div><span>1天内</span></div>
        <div><div class="mean-div month-color"></div><span>1月内</span></div>
        <div><div class="mean-div all-color"></div><span>全部</span></div>
      </div>
      <div id="bar-chart">
  <div class="graph">
    <ul class="x-axis">
      <li><span>新闻</span></li>
      <li><span>评论</span></li>
      <li><span>帖子</span></li>
    </ul>
    <ul class="y-axis">
      <li><span>2000</span></li>
      <li><span>1500</span></li>
      <li><span>1000</span></li>
      <li><span>500</span></li>
      <li><span>0</span></li>
    </ul>
    <div class="bars">
      <div class="bar-group">
        <div class="bar bar-1 stat-1" data-num="0" style="height: 51%;">      
          <span>4080</span>
        </div>
        <div class="bar bar-2 stat-2" data-num="0" style="height: 71%;">
          <span>5680</span>
        </div>
        <div class="bar bar-3 stat-3" data-num="0" style="height: 13%;">
          <span>1040</span>
        </div>
        <div class="bar bar-4 stat-4" data-num="0" style="height: 76%;">
          <span>6080</span>
        </div>
      </div>
      
      <div class="bar-group">
        
        <div class="bar bar-5 stat-1" data-num="0" style="height: 86%;">
          <span>6880</span>
        </div>
        <div class="bar bar-6 stat-2" data-num="0" style="height: 22%;">
          <span>1760</span>
        </div>
        <div class="bar bar-7 stat-3" data-num="0" style="height: 78%;">
          <span>6240</span>
        </div>
        <div class="bar bar-8 stat-4" data-num="0" style="height: 72%;">
          <span>5760</span>
        </div>
      </div>
      
      <div class="bar-group">
        
        <div class="bar bar-9 stat-1" data-num="0" style="height: 36%;">
          <span>2880</span>
        </div>
        <div class="bar bar-10 stat-2" data-num="0" style="height: 44%;">
          <span>3520</span>
        </div>
        <div class="bar bar-11 stat-3" data-num="0" style="height: 64%;">
          <span>5120</span>
        </div>
        <div class="bar bar-12 stat-4" data-num="0" style="height: 59%">
          <span>4720</span>
        </div>
      </div>
      
      
    </div>
  </div>
</div> 
  	<div id="running-project">
      <div class="title"><div class="bar1 comment""></div><div class="tit">正在运行</div><div class="bar2 comment""></div></div>
      <table class="table-item">
        <tr>
          <td class="ti first-tit">爬取对象</td>
          <td class="ti">爬虫名称</td>
          <td class="ti">状态</td>
          <td class="ti">操作</td>
          <td class="ti last-tit">结果</td>
        </tr>
        
      </table>
      <div id="items" class="pro-item">
        <table >
          
        </table>
      </div>
  		
  	</div>
  	<div id="recent-project">
      <div class="title"><div class="bar1 response""></div><div class="tit">未运行</div><div class="bar2 response""></div></div>
      <table class="table-item">
        <tr>
          <td class="ti first-tit">爬取对象</td>
          <td class="ti">爬虫名称</td>
          <td class="ti">状态</td>
          <td class="ti">操作</td>
          <td class="ti last-tit">结果</td>
        </tr>

      </table>
  		<!-- <div id="head">
	  		<ul class="ul_item ">
	  			<li class="item title_color" ><span>爬取对象</span></li>
	  			<li class="item title_color" ><span>爬虫名称</span></li>
	  			<li class="item title_color" ><span>状态</span></li>
	  			<li class="item title_color" ><span>操作</span></li>
	  			<li class="item title_color" ><span>结果</span></li>
	  		</ul>
	  		<div class="log"></div>
  		</div> -->
  		<div id="todoArea" class="pro-item">
        <table>
    			
      </table>
  		</div>
  	</div>
  	<div id="shadow" class="hide">
  		<div id="alert">
  			<div id="alert-btn">
  				<span>确认删除?</span>
  				<div>
  					<span class="del-btn" id="yes">是</span>
  					<span class="del-btn" id="no">否</span>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
  	<script src="/javascripts/jquery-3.2.1.js"></script>
  	<script src="/javascripts/index.js"></script>
  </body>
</html>
