<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/news.css' />
  </head>
  <body>
    <nav>
      <a id="home" href="http://localhost:3000/index">爬虫管理系统</a>
      <ul>
        <li><a href="http://localhost:3000/comment">评论爬虫创建<a></li>
        <li><a href="http://localhost:3000/forum">论坛爬虫创建</a></li>
      </ul>
    </nav>
    <div id="box">
      <div class="title"><div>新闻爬虫常用参数设置</div></div>
      <div class="item-box">
        <ul class="enter-box">
          <li>
            <label>爬虫名称</label>
            <input type="text" value="如: 水利网站爬虫" id="crawler-name" class="enter front"/>
            <label>起始网址</label>
            <input type="text" id="crawler-url" value="http://mobile.163.com/" class="enter"/>
          </li>
          <li>
            <label>新闻标题样式选择器</label>
            <input type="text" value="#epContentLeft > h1" id="title-css" class="enter front"/>
            <label>获取更多新闻列表样式选择器</label>
            <input type="text" value="body > div.index2016_wrap > div.ne-area > div.area.clearfix > div.msg_list > div > div.newsdata_wrap > a:nth-child(3)"  id="nextpage-css" class="enter"/>
          </li>
          <li>
            <label>新闻页面url样式选择器</label>
            <input type="text" value="body > div.index2016_wrap > div.ne-area > div.area.clearfix > div.msg_list > div > div.newsdata_wrap > ul > li > div > div > div > div.news_title > h3 > a" id="href-css" class="enter front"/>
            <label>发布时间样式选择器</label>
            <input type="text" value="#epContentLeft > div.post_time_source"  id="time-css" class="enter"/>
          </li>
          <li>
             <label>新闻来源样式选择器</label>
              <input type="text" value="#ne_article_source" id="src-css" class="enter front"/>
              <label>新闻内容样式选择器</label>
              <input type="text" value="#endText"  id="content-css" class="enter"/>
          </li>
          <li>
            <label for="nextpage-format">获取更多新闻列表方式</label>
             <select id='nextpage-format'>
               <option>click</option>
               <option>move</option>
             </select>
          </li>
        </ul>
      </div>

      <span id="start">创建爬虫</span>
    </div>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/javascripts/news.js"></script>
  </body>
</html>

