<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/comment.css' />
  </head>
  <body>
    <nav>
      <a id="home" href="http://localhost:3000/index">CRAWL MANAGEMENT DASHBOARD</a>
      <ul>
        <li><a href="http://localhost:3000/comment">COMMENT<a></li>
        <li><a href="http://localhost:3000/forum">FORUM</a></li>
      </ul>
    </nav>
    <div id="box">
      <div class="title"><div> news crawler common  setting</div></div>
      <div class="item-box">
        <ul class="enter-box">
          <li>
            <label>project name</label>
            <input type="text" placeholder="如: 水利网站爬虫" id="crawler-name" class="enter front"/>
            <label>起始网址</label>
            <input type="text" id="crawler-url" placeholder="http://mobile.163.com/" class="enter"/>
          </li>
          <li>
            <label>title css样式选择器</label>
            <input type="text" placeholder="#epContentLeft > h1" id="title-css" class="enter front"/>
            <label>next page css样式选择器</label>
            <input type="text" placeholder="body > div.index2016_wrap > div.ne-area > div.area.clearfix > div.msg_list > div > div.newsdata_wrap > a:nth-child(3)"  id="nextpage-css" class="enter"/>
          </li>
          <li>
            <label>href css样式选择器</label>
            <input type="text" placeholder="body > div.index2016_wrap > div.ne-area > div.area.clearfix > div.msg_list > div > div.newsdata_wrap > ul > li > div > div > div > div.news_title > h3 > a" id="href-css" class="enter front"/>
            <label>time css样式选择器</label>
            <input type="text" placeholder="#epContentLeft > div.post_time_source"  id="time-css" class="enter"/>
          </li>
          <li>
             <label>src css样式选择器</label>
              <input type="text" placeholder="#ne_article_source" id="src-css" class="enter front"/>
              <label>content css样式选择器</label>
              <input type="text" placeholder="#endText"  id="content-css" class="enter"/>
          </li>
          <li>
            <label for="nextpage-format">nextpage format样式选择器</label>
             <select id='nextpage-format'>
               <option>click</option>
               <option>move</option>
             </select>
          </li>
        </ul>
      </div>

      <span id="start">start</span>
    </div>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/javascripts/forum.js"></script>
  </body>
</html>

