<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/result_show.css' />
  </head>
  <body>
  	<nav>
  		<a id="home" href="http://localhost:3000/index">爬虫管理系统</a>
      <ul>
        <li><a href="http://localhost:3000/">新闻爬虫创建<a></li>
        <li><a href="http://localhost:3000/comment">评论爬虫创建</a></li>
        <li><a href="http://localhost:3000/forum">论坛爬虫创建</a></li>
      </ul>
  	</nav>
    <div class="side">
      <div class="menu ">主菜单</div>
      <div class="menu-child" id="overview">总览</div>
      <div class="menu-child" id="result">爬取结果</div>
      <div class="menu">开发者</div>
      <div class="menu-child" id="code">爬虫源码</div>
      <div class="menu">数据发布&导出</div>
      <div class="menu-child bottom" id="download">导出到文件</div>
    </div>
  	<div id="container">
      <% for(var i = 0;i < data.length;i++){ %>
      <ul class="item">
       <!--  <li><span>title</span></li>
        <li><span>url</span></li> -->
        <li class="author"><%= data[i].comment_author %></li>
        <li><%= data[i].content %></li>
        <li class="time"><%= data[i].publish_time %></li>
        <li><span  class="details">详情</span></li>
      </ul> 
      <% } %>
    </div>
  	<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
  	<script src="/javascripts/result_show.js"></script>
  </body>
</html>


